<h1>Please enter your link below</h1>
<form action="/links" method="post">
  Title:
  <input type="text" name="title">
  URL:
  <input type="text" name="url">
  <input type="submit" value="Save link">
</form>