<h1> Welcome to the greatest bookmark manager... In the world! </h1>

<form action="/create_user" method='post'>
  Email:
  <input type='email' name='email'>
  Password:
  <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>
